<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>info.searchman.HelloWorld</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/servlet/hello</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>MonthView</servlet-name>
    <servlet-class>info.serchman.MonthView6</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MonthView</servlet-name>
    <url-pattern>/servlet/MonthView</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>NewSche</servlet-name>
    <servlet-class>info.serchman.NewSche4</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NewSche</servlet-name>
    <url-pattern>/servlet/NewSche</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>ScheduleInsert</servlet-name>
    <servlet-class>info.serchman.ScheduleInsert1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ScheduleInsert</servlet-name>
    <url-pattern>/servlet/ScheduleInsert</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>ScheView</servlet-name>
    <servlet-class>info.serchman.ScheView1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ScheView</servlet-name>
    <url-pattern>/servlet/ScheView</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>EditSche</servlet-name>
    <servlet-class>info.serchman.EditSche1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EditSche</servlet-name>
    <url-pattern>/servlet/EditSche</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ScheUpdate</servlet-name>
    <servlet-class>info.serchman.ScheUpdate1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ScheUpdate</servlet-name>
    <url-pattern>/servlet/ScheUpdate</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>DeleteCheck</servlet-name>
    <servlet-class>info.serchman.DeleteCheck1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteCheck</servlet-name>
    <url-pattern>/servlet/DeleteCheck</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ScheDelete</servlet-name>
    <servlet-class>info.serchman.ScheDelete1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ScheDelete</servlet-name>
    <url-pattern>/servlet/ScheDelete</url-pattern>
  </servlet-mapping>

</web-app>
